<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badlogic.androidgames.nautastro"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Naut Astro"
        android:theme="@style/AppTheme" >
        <activity
            android:name="dan.gigamog.androidgames.nautastro.NautAstro"
            android:label="Naut Astro" 
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>